html {
    background-color: black;
    color: white;
}

body {
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}

#help {
    float: right;
}

#navbar {
    width: 101%;
    height: 40px;
    background-color: #191919;
    clear: both;
    left: -8px;
    top: -7px;
    position: relative;
    box-shadow: 0px 1px 20px 1px black;
    z-index: 10;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 250%;
}

#glCanvas {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: -10;
}


#content {
    width: 100%;
    height: 100%;
    float: left;
    clear: both;
    position: relative;
}

#left {
    position: fixed;
    bottom: 0;
    left: 0px;
    float: left;
    height: 100%;
    width: 20vw;
}

#right {
    float: right;
    width: 80%;
    height: 100%;
    position: relative;
    background-color: black;
    margin: auto;
}

#pickerControls {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 300%;
    bottom: 5px;
    position: absolute;
    margin-left: 20.5vw;
}

#pickerControls div {
    margin-top: 15px;
}

#picker {
    bottom: 0;
    position: absolute;
    background-color: #747474;
}

#form {
    margin-top: 50px;
    width: 300%;
}

.coordinate-input {
    width: 4em;
}

.coordinate-input-small{
    width: 4em;
}
.small-int-input{
    width: 2em;
}

.labeled-input {
    margin-top: 20px;
    margin-left: 20px;
}

.toggles {
    width: 300%;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 1em;
    position: absolute;
}

input {
    color: white;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 0.9em;
    background: none;
    font-family: 'Open Sans', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
}

@media only screen and (max-width: 769px) {
    #pickerWrapper { 
      display: none;
    }

    #pickerControls {
        display: none;
    }

    #navbar {
        width: 103%;
    }
  }